In [32]:
import numpy as np
import pandas as pd

In [28]:
cols = ['TP_FAIXA_ETARIA', 'TP_COR_RACA', 'NU_NOTA_CN', 'NU_NOTA_MT', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_REDACAO']

idade = {
    1: '<17',
    2: '17',
    3: '18',
    4: '19',
    5: '20',
    6: '21',
    7: '22',
    8: '23',
    9: '24',
    10: '25',
    11: '26-30',
    12: '31-35',
    13: '36-40',
    14: '41-45',
    15: '46-50',
    16: '51-55',
    17: '56-60',
    18: '61-65',
    19: '66-70',
    20: '>70'
}
raca = {
    0: 'Nao Declarado',
    1: 'Branca',
    2: 'Preta',
    3: 'Parda',
    4: 'Amarela',
    5: 'Indigena'
}

def preprocess_dataset(df: pd.DataFrame, year: int):
    df = df.dropna(axis=0)
    df['Ano'] = year
    
    classes = []
    for _,row in df.iterrows():
        classes.append(idade[row['TP_FAIXA_ETARIA']])
    df = df.drop(['TP_FAIXA_ETARIA'], axis=1)
    df['TP_FAIXA_ETARIA'] = classes
    
    classes = []
    for _,row in df.iterrows():
        classes.append(idade[row['TP_COR_RACA']])
    df = df.drop(['TP_COR_RACA'], axis=1)
    df['TP_COR_RACA'] = classes
    
    classes = []
    for _,row in df.iterrows():
        mean = np.mean([row['NU_NOTA_CN'],row['NU_NOTA_MT'],row['NU_NOTA_CH'],row['NU_NOTA_LC'],row['NU_NOTA_REDACAO']])
        mean = int(mean/10)*10
        classes.append(idade[row['TP_COR_RACA']])
    df = df.drop(['TP_COR_RACA'], axis=1)
    df['TP_COR_RACA'] = classes
    
    return df

In [29]:
# 01
#enem13 = pd.read_csv("../../dados_enem/microdados_enem_2013/DADOS/MICRODADOS_ENEM_2013.csv", sep=';', encoding = "ISO-8859-1")[cols]
#enem13 = preprocess_dataset(enem13, 2013)
enem13

,TP_FAIXA_ETARIA,TP_COR_RACA,NU_NOTA_CN,NU_NOTA_MT,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_REDACAO
0,6,1,474.9,530.2,429.3,520.2,320
1,12,3,426.9,352.5,495.0,485.5,180
2,3,3,387.9,386.3,443.5,422.4,560
3,12,1,NaN,NaN,NaN,NaN,0
4,11,1,460.4,526.8,490.9,519.3,560
...,...,...,...,...,...,...,...
7173558,8,2,NaN,NaN,NaN,NaN,0
7173559,5,1,424.2,387.4,362.4,331.5,0
7173560,5,1,438.1,NaN,484.4,NaN,0
7173561,4,1,508.6,477.0,362.0,399.3,400
7173562,2,3,610.8,555.5,600.0,607.9,560

In [30]:
sub = preprocess_dataset(enem13, 2013)

In [31]:
sub

,TP_COR_RACA,NU_NOTA_CN,NU_NOTA_MT,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_REDACAO,TP_FAIXA_ETARIA
0,1,474.9,530.2,429.3,520.2,320,21
1,3,426.9,352.5,495.0,485.5,180,31-35
2,3,387.9,386.3,443.5,422.4,560,18
3,1,NaN,NaN,NaN,NaN,0,31-35
4,1,460.4,526.8,490.9,519.3,560,26-30
...,...,...,...,...,...,...,...
7173558,2,NaN,NaN,NaN,NaN,0,23
7173559,1,424.2,387.4,362.4,331.5,0,20
7173560,1,438.1,NaN,484.4,NaN,0,20
7173561,1,508.6,477.0,362.0,399.3,400,19
7173562,3,610.8,555.5,600.0,607.9,560,17

In [ ]:
# 02
enem14 = pd.read_csv("../../dados_enem/microdados_enem_2014/DADOS/MICRODADOS_ENEM_2014.csv", sep=';', encoding = "ISO-8859-1")[cols]
enem14 = preprocess_dataset(enem14, 2014)
enem14

In [ ]:
# 03
enem15 = pd.read_csv("../../dados_enem/microdados_enem_2015/DADOS/MICRODADOS_ENEM_2015.csv", sep=';', encoding = "ISO-8859-1")[cols]
enem15 = preprocess_dataset(enem15, 2015)
enem15

In [ ]:
# 04
enem16 = pd.read_csv("../../dados_enem/microdados_enem_2016/DADOS/MICRODADOS_ENEM_2016.csv", sep=';', encoding = "ISO-8859-1")[cols]
enem16 = preprocess_dataset(enem16, 2016)
enem16

In [ ]:
# 05
enem17 = pd.read_csv("../../dados_enem/microdados_enem_2017/DADOS/MICRODADOS_ENEM_2017.csv", sep=';', encoding = "ISO-8859-1")[cols]
enem17 = preprocess_dataset(enem17, 2017)
enem17

In [ ]:
# 06
enem18 = pd.read_csv("../../dados_enem/microdados_enem_2018/DADOS/MICRODADOS_ENEM_2018.csv", sep=';', encoding = "ISO-8859-1")[cols]
enem18 = preprocess_dataset(enem18, 2018)
enem18

In [ ]:
# 07
enem19 = pd.read_csv("../../dados_enem/microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv", sep=';', encoding = "ISO-8859-1")[cols]
enem19 = preprocess_dataset(enem19, 2019)
enem19

In [ ]:
# 08
enem20 = pd.read_csv("../../dados_enem/microdados_enem_2020/DADOS/MICRODADOS_ENEM_2020.csv", sep=';', encoding = "ISO-8859-1")[cols]
enem20 = preprocess_dataset(enem20, 2020)
enem20

In [ ]:
# 09
enem21 = pd.read_csv("../../dados_enem/microdados_enem_2021/DADOS/MICRODADOS_ENEM_2021.csv", sep=';', encoding = "ISO-8859-1")[cols]
enem21 = preprocess_dataset(enem21, 2021)
enem21

In [ ]:
# 10
enem22 = pd.read_csv("../../dados_enem/microdados_enem_2022/DADOS/MICRODADOS_ENEM_2022.csv", sep=';', encoding = "ISO-8859-1")[cols]
enem22 = preprocess_dataset(enem22, 2022)
enem22

In [ ]:
final = pd.concat([enem13,enem14,enem15,enem16,enem17,enem18,enem19,enem20,enem21,enem22]).reset_index(drop=True)
final.to_pickle("../data/vis02_enem_data.pickle")
final

In [ ]:
print("Elapsed time (h:mm:ss):",str(timedelta(seconds=(time.time() - start))))