In [1]:
import time
import numpy as np
import pandas as pd
from datetime import timedelta

from warnings import simplefilter
pd.options.mode.chained_assignment = None
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)

start = time.time()

In [2]:
cols = ['TP_FAIXA_ETARIA', 'NU_NOTA_CN', 'NU_NOTA_MT', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_REDACAO']

faixa_etaria = {
    '1': '<17',
    '2': '17',
    '3': '18',
    '4': '19',
    '5': '20',
    '6': '21',
    '7': '22',
    '8': '23',
    '9': '24',
    '10': '25',
    '11': '26-30',
    '12': '31-35',
    '13': '36-40',
    '14': '41-45',
    '15': '46-50',
    '16': '51-55',
    '17': '56-60',
    '18': '61-65',
    '19': '66-70',
    '20': '>70'
}
cor_raca = {
    '0': 'Nao Declarado',
    '1': 'Branca',
    '2': 'Preta',
    '3': 'Parda',
    '4': 'Amarela',
    '5': 'Indigena',
    '6': 'Nao Possui a Informacao'
}

shapes = {'before': [], 'after': []}

def preprocess_dataset(df: pd.DataFrame, year: int):
    df = df.dropna(axis=0)
    df['ANO'] = year
    
    #df['TP_FAIXA_ETARIA'] = df['TP_FAIXA_ETARIA'].astype(str)
    #df['TP_FAIXA_ETARIA'] = df["TP_FAIXA_ETARIA"].map(faixa_etaria)
    
    #df['TP_COR_RACA'] = df['TP_COR_RACA'].astype(str)
    #df['TP_COR_RACA'] = df["TP_COR_RACA"].map(cor_raca)
    
    df['NOTA_MEDIA'] = df.apply(lambda x: int(np.mean([x['NU_NOTA_CN'],x['NU_NOTA_MT'],x['NU_NOTA_CH'],x['NU_NOTA_LC'],x['NU_NOTA_REDACAO']])/10)*10, axis=1)
    df = df.drop(['NU_NOTA_CN', 'NU_NOTA_MT', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_REDACAO'], axis=1)
    
    return df

In [3]:
# 01
enem13 = pd.read_csv("../../dados_enem/microdados_enem_2013/DADOS/MICRODADOS_ENEM_2013.csv", sep=';', encoding = "ISO-8859-1")[cols]
shapes['before'].append(enem13.shape[0])
enem13 = preprocess_dataset(enem13, 2013)
shapes['after'].append(enem13.shape[0])
enem13

         TP_FAIXA_ETARIA   ANO  NOTA_MEDIA
0                      6  2013         450
1                     12  2013         380
2                      3  2013         440
4                     11  2013         510
6                      2  2013         410
...                  ...   ...         ...
7173554               13  2013         620
7173557                2  2013         450
7173559                5  2013         300
7173561                4  2013         420
7173562                2  2013         580

[5007934 rows x 3 columns]

In [4]:
# 02
enem14 = pd.read_csv("../../dados_enem/microdados_enem_2014/DADOS/MICRODADOS_ENEM_2014.csv", sep=';', encoding = "ISO-8859-1")[cols]
shapes['before'].append(enem14.shape[0])
enem14 = preprocess_dataset(enem14, 2014)
shapes['after'].append(enem14.shape[0])
enem14

         TP_FAIXA_ETARIA   ANO  NOTA_MEDIA
0                      3  2014         540
1                      9  2014         440
2                      4  2014         590
3                      3  2014         490
4                     14  2014         620
...                  ...   ...         ...
8722241               12  2014         460
8722242                2  2014         620
8722243               12  2014         420
8722245                4  2014         420
8722247                1  2014         480

[5947914 rows x 3 columns]

In [5]:
# 03
enem15 = pd.read_csv("../../dados_enem/microdados_enem_2015/DADOS/MICRODADOS_ENEM_2015.csv", sep=';', encoding = "ISO-8859-1")[cols]
shapes['before'].append(enem15.shape[0])
enem15 = preprocess_dataset(enem15, 2015)
shapes['after'].append(enem15.shape[0])
enem15

         TP_FAIXA_ETARIA   ANO  NOTA_MEDIA
0                     14  2015         680
2                      7  2015         550
4                      3  2015         710
5                      4  2015         570
6                      2  2015         680
...                  ...   ...         ...
7746422                2  2015         470
7746423                1  2015         620
7746424                2  2015         550
7746425               15  2015         580
7746426                6  2015         610

[5604905 rows x 3 columns]

In [6]:
# 04
enem16 = pd.read_csv("../../dados_enem/microdados_enem_2016/DADOS/MICRODADOS_ENEM_2016.csv", sep=';', encoding = "ISO-8859-1")[cols]
shapes['before'].append(enem16.shape[0])
enem16 = preprocess_dataset(enem16, 2016)
shapes['after'].append(enem16.shape[0])
enem16

         TP_FAIXA_ETARIA   ANO  NOTA_MEDIA
0                      8  2016         550
1                      5  2016         560
2                      6  2016         510
3                      2  2016         630
5                      5  2016         590
...                  ...   ...         ...
8627171               14  2016         520
8627174                2  2016         500
8627176                1  2016         600
8627177                2  2016         540
8627178                1  2016         550

[5818264 rows x 3 columns]

In [7]:
# 05
enem17 = pd.read_csv("../../dados_enem/microdados_enem_2017/DADOS/MICRODADOS_ENEM_2017.csv", sep=';', encoding = "ISO-8859-1")[cols]
shapes['before'].append(enem17.shape[0])
enem17 = preprocess_dataset(enem17, 2017)
shapes['after'].append(enem17.shape[0])
enem17

         TP_FAIXA_ETARIA   ANO  NOTA_MEDIA
0                     11  2017         530
3                     12  2017         580
4                     13  2017         550
5                      5  2017         550
6                     13  2017         570
...                  ...   ...         ...
6731272                8  2017         440
6731273                2  2017         580
6731275               15  2017         450
6731276               12  2017         420
6731277                4  2017         620

[4426692 rows x 3 columns]

In [8]:
# 06
enem18 = pd.read_csv("../../dados_enem/microdados_enem_2018/DADOS/MICRODADOS_ENEM_2018.csv", sep=';', encoding = "ISO-8859-1")[cols]
shapes['before'].append(enem18.shape[0])
enem18 = preprocess_dataset(enem18, 2018)
shapes['after'].append(enem18.shape[0])
enem18

         TP_FAIXA_ETARIA   ANO  NOTA_MEDIA
0                      2  2018         500
1                      3  2018         460
2                      3  2018         490
3                      2  2018         670
4                     11  2018         530
...                  ...   ...         ...
5513727               14  2018         460
5513728               11  2018         470
5513730                5  2018         460
5513731                5  2018         550
5513732               11  2018         530

[3893729 rows x 3 columns]

In [9]:
# 07
enem19 = pd.read_csv("../../dados_enem/microdados_enem_2019/DADOS/MICRODADOS_ENEM_2019.csv", sep=';', encoding = "ISO-8859-1")[cols]
shapes['before'].append(enem19.shape[0])
enem19 = preprocess_dataset(enem19, 2019)
shapes['after'].append(enem19.shape[0])
enem19

         TP_FAIXA_ETARIA   ANO  NOTA_MEDIA
3                     10  2019         470
4                      7  2019         630
5                     13  2019         640
6                      7  2019         530
9                      2  2019         490
...                  ...   ...         ...
5095158                5  2019         470
5095160               13  2019         440
5095161                2  2019         420
5095164               12  2019         510
5095165                2  2019         400

[3701909 rows x 3 columns]

In [10]:
# 08
enem20 = pd.read_csv("../../dados_enem/microdados_enem_2020/DADOS/MICRODADOS_ENEM_2020.csv", sep=';', encoding = "ISO-8859-1")[cols]
shapes['before'].append(enem20.shape[0])
enem20 = preprocess_dataset(enem20, 2020)
shapes['after'].append(enem20.shape[0])
enem20

         TP_FAIXA_ETARIA   ANO  NOTA_MEDIA
1                     11  2020         630
3                      2  2020         680
5                      3  2020         560
7                      4  2020         620
8                      5  2020         470
...                  ...   ...         ...
5783103                2  2020         570
5783104                2  2020         690
5783105                3  2020         640
5783106                3  2020         590
5783108                2  2020         500

[2588681 rows x 3 columns]

In [11]:
# 09
enem21 = pd.read_csv("../../dados_enem/microdados_enem_2021/DADOS/MICRODADOS_ENEM_2021.csv", sep=';', encoding = "ISO-8859-1")[cols]
shapes['before'].append(enem21.shape[0])
enem21 = preprocess_dataset(enem21, 2021)
shapes['after'].append(enem21.shape[0])
enem21

         TP_FAIXA_ETARIA   ANO  NOTA_MEDIA
1                     12  2021         510
3                      3  2021         660
4                      2  2021         570
8                      8  2021         480
9                      4  2021         460
...                  ...   ...         ...
3389793               15  2021         400
3389807               14  2021         440
3389814               10  2021         620
3389815                5  2021         430
3389830                7  2021         620

[2238107 rows x 3 columns]

In [12]:
# 10
enem22 = pd.read_csv("../../dados_enem/microdados_enem_2022/DADOS/MICRODADOS_ENEM_2022.csv", sep=';', encoding = "ISO-8859-1")[cols]
shapes['before'].append(enem22.shape[0])
enem22 = preprocess_dataset(enem22, 2022)
shapes['after'].append(enem22.shape[0])
enem22

         TP_FAIXA_ETARIA   ANO  NOTA_MEDIA
2                      5  2022         550
3                      6  2022         390
7                      6  2022         410
9                      4  2022         430
11                     2  2022         570
...                  ...   ...         ...
3476095               12  2022         480
3476097               11  2022         610
3476098                2  2022         540
3476099               11  2022         500
3476102                2  2022         600

[2344823 rows x 3 columns]

In [14]:
print(shapes)

{'before': [7173563, 8722248, 7746427, 8627179, 6731278, 5513733, 5095171, 5783109, 3389832, 3476105], 'after': [5007934, 5947914, 5604905, 5818264, 4426692, 3893729, 3701909, 2588681, 2238107, 2344823]}

In [15]:
final = pd.concat([enem13,enem14,enem15,enem16,enem17,enem18,enem19,enem20,enem21,enem22]).reset_index(drop=True)
final.to_pickle("../../data/vis02_enem_data.pickle")
final

          TP_FAIXA_ETARIA   ANO  NOTA_MEDIA
0                       6  2013         450
1                      12  2013         380
2                       3  2013         440
3                      11  2013         510
4                       2  2013         410
...                   ...   ...         ...
41572953               12  2022         480
41572954               11  2022         610
41572955                2  2022         540
41572956               11  2022         500
41572957                2  2022         600

[41572958 rows x 3 columns]

In [16]:
print("Elapsed time (h:mm:ss):",str(timedelta(seconds=(time.time() - start))))

Elapsed time (h:mm:ss): 0:43:10.703552